USE [W_GnBD]
if (1 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PRJMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'prjmem', 'PRJMEM_CODMEM__', 'prj';
end
GO
if (5 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PRJPLAYER_CODPLAYERS', 'codplayers', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'PRJPLAYER_D1310C9E839F4883', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'prjplayer', 'PRJPLAYER_CODPLAYERS', 'prj';
end
GO
if (1 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'PRJPSW_9791227B564C4ECC', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'PRJPSW_9791227B564C4ECC','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'prj';
end
GO
if (1 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'prj';
end
GO
if (1 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'prj';
end
GO
if (1 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'prj';
end
GO
if (5 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PRJSKILL_CODSKILL', 'codskill', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'prjskill', 'PRJSKILL_CODSKILL', 'prj';
end
GO
if (5 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PRJTEAM_CODTEAM_', 'codteam', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'prjteam', 'PRJTEAM_CODTEAM_', 'prj';
end
GO
if (5 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PRJPLAYER_TEAM_CODPLAYER_TEAM', 'codplayer_team', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'PRJPLAYER_TEAM_11D478DFFC3E4E05', 'date_started', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'prjplayer_team', 'PRJPLAYER_TEAM_CODPLAYER_TEAM', 'prj';
end
GO
if (1 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'prj';
end
GO
if (1 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'prj';
end
GO
if (1 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: $indice.Origem
SELECT 'PRJS_UA_CA5684B0785645F9', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: $indice.Origem
SELECT 'PRJS_UA_CA5684B0785645F9', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'PRJS_UA_CA5684B0785645F9','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'prj';
end
GO
if (5 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PRJSKILL_PLAYER_CODSKILL_PLAYER', 'codskill_player', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'prjskill_player', 'PRJSKILL_PLAYER_CODSKILL_PLAYER', 'prj';
end
GO
if (5 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'PRJSTATS_CODSTATS', 'codstats', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'prjstats', 'PRJSTATS_CODSTATS', 'prj';
end
GO

if (5 > isnull((select versindx from PRJcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'prjalerta_alerta01'))
	DROP INDEX prjalerta_alerta01 ON prjalerta
CREATE INDEX prjalerta_alerta01 ON prjalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'prjpostit_postit01'))
	DROP INDEX prjpostit_postit01 ON prjpostit
CREATE INDEX prjpostit_postit01 ON prjpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'prjpostit_postit02'))
	DROP INDEX prjpostit_postit02 ON prjpostit
CREATE INDEX prjpostit_postit02 ON prjpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'prjpostit_postit03'))
	DROP INDEX prjpostit_postit03 ON prjpostit
CREATE INDEX prjpostit_postit03 ON prjpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'prjpostit_postit04'))
	DROP INDEX prjpostit_postit04 ON prjpostit
CREATE INDEX prjpostit_postit04 ON prjpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'prjpostit_postit05'))
	DROP INDEX prjpostit_postit05 ON prjpostit
CREATE INDEX prjpostit_postit05 ON prjpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'prjpostit_postit06'))
	DROP INDEX prjpostit_postit06 ON prjpostit
CREATE INDEX prjpostit_postit06 ON prjpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'prjpostit_postit07'))
	DROP INDEX prjpostit_postit07 ON prjpostit
CREATE INDEX prjpostit_postit07 ON prjpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'prjaltent_altent01'))
	DROP INDEX prjaltent_altent01 ON prjaltent
CREATE INDEX prjaltent_altent01 ON prjaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'prjdelega_delega01'))
	DROP INDEX prjdelega_delega01 ON prjdelega
CREATE INDEX prjdelega_delega01 ON prjdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'prjdelega_delega02'))
	DROP INDEX prjdelega_delega02 ON prjdelega
CREATE INDEX prjdelega_delega02 ON prjdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'prjlstusr_codpsw'))
	DROP INDEX prjlstusr_codpsw ON prjlstusr
CREATE INDEX prjlstusr_codpsw ON prjlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'prjlstcol_codlstusr'))
	DROP INDEX prjlstcol_codlstusr ON prjlstcol
CREATE INDEX prjlstcol_codlstusr ON prjlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'prjlstren_codlstusr'))
	DROP INDEX prjlstren_codlstusr ON prjlstren
CREATE INDEX prjlstren_codlstusr ON prjlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'prjusrwid_codlstusr'))
	DROP INDEX prjusrwid_codlstusr ON prjusrwid
CREATE INDEX prjusrwid_codlstusr ON prjusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'prjtblcfg_codpsw_uuid_name'))
	DROP INDEX prjtblcfg_codpsw_uuid_name ON prjtblcfg
CREATE INDEX prjtblcfg_codpsw_uuid_name ON prjtblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'prjtblcfg_codpsw_uuid'))
	DROP INDEX prjtblcfg_codpsw_uuid ON prjtblcfg
CREATE INDEX prjtblcfg_codpsw_uuid ON prjtblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logprjall_logprjall01'))
	DROP INDEX logprjall_logprjall01 ON logprjall
CREATE CLUSTERED INDEX [logprjall_logprjall01] ON [dbo].[logPRJall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE PRJcfg set versindx = 5
end
GO