USE [W_GnBD]

GO

-- migração de dados da tabela PRJMEM (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[PRJMEM] ([CODMEM], [LOGIN], [ROTINA], [ALTURA], [OBS], [HOSTID], [CLIENTID], [ZZSTATE])
SELECT [MEM].[CODMEM], [MEM].[LOGIN], [MEM].[ROTINA], [MEM].[ALTURA], [MEM].[OBS], [MEM].[HOSTID], [MEM].[CLIENTID], [MEM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[PRJMEM] AS [MEM]
WHERE [MEM].ZZSTATE = 0
GO

-- migração de dados da tabela PRJPLAYER (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[PRJPLAYER] ([CODPLAYERS], [NAME], [BIRTHDATE], [GENDER], [HEIGHT_CM], [POSITION], [ZZSTATE])
SELECT [PLAYER].[CODPLAYERS], [PLAYER].[NAME], [PLAYER].[BIRTHDATE], [PLAYER].[GENDER], [PLAYER].[HEIGHT_CM], [PLAYER].[POSITION], [PLAYER].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[PRJPLAYER] AS [PLAYER]
WHERE [PLAYER].ZZSTATE = 0
GO

-- migração de dados da tabela UserLogin (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[UserLogin] ([CODPSW], [NOME], [PASSWORD], [CERTSN], [EMAIL], [PSWTYPE], [SALT], [DATAPSW], [USERID], [PSW2FAVL], [PSW2FATP], [DATEXP], [ATTEMPTS], [PHONE], [STATUS], [ASSOCIA], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [PSW].[CODPSW], [PSW].[NOME], [PSW].[PASSWORD], [PSW].[CERTSN], [PSW].[EMAIL], [PSW].[PSWTYPE], [PSW].[SALT], [PSW].[DATAPSW], [PSW].[USERID], [PSW].[PSW2FAVL], [PSW].[PSW2FATP], [PSW].[DATEXP], [PSW].[ATTEMPTS], [PSW].[PHONE], [PSW].[STATUS], [PSW].[ASSOCIA], [PSW].[OPERCRIA], [PSW].[DATACRIA], [PSW].[OPERMUDA], [PSW].[DATAMUDA], [PSW].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[UserLogin] AS [PSW]
WHERE [PSW].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcess (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcess] ([CODASCPR], [TYPE], [DATEREQU], [INITPRC], [ENDPRC], [DURATION], [STATUS], [RSLTMSG], [FINISHED], [LASTUPDT], [RESULT], [INFO], [PERCENTA], [MODOPROC], [EXTERNAL], [ID], [CODENTIT], [MOTIVO], [CODPSW], [OPERSHUT], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_APR].[CODASCPR], [S_APR].[TYPE], [S_APR].[DATEREQU], [S_APR].[INITPRC], [S_APR].[ENDPRC], [S_APR].[DURATION], [S_APR].[STATUS], [S_APR].[RSLTMSG], [S_APR].[FINISHED], [S_APR].[LASTUPDT], [S_APR].[RESULT], [S_APR].[INFO], [S_APR].[PERCENTA], [S_APR].[MODOPROC], [S_APR].[EXTERNAL], [S_APR].[ID], [S_APR].[CODENTIT], [S_APR].[MOTIVO], [S_APR].[CODPSW], [S_APR].[OPERSHUT], [S_APR].[OPERCRIA], [S_APR].[DATACRIA], [S_APR].[OPERMUDA], [S_APR].[DATAMUDA], [S_APR].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcess] AS [S_APR]
WHERE [S_APR].ZZSTATE = 0
GO

-- migração de dados da tabela NotificationEmailSignature (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[NotificationEmailSignature] ([CODSIGNA], [NAME], [IMAGE], [TEXTASS], [USERNAME], [PASSWORD], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_NES].[CODSIGNA], [S_NES].[NAME], [S_NES].[IMAGE], [S_NES].[TEXTASS], [S_NES].[USERNAME], [S_NES].[PASSWORD], [S_NES].[OPERCRIA], [S_NES].[DATACRIA], [S_NES].[OPERMUDA], [S_NES].[DATAMUDA], [S_NES].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[NotificationEmailSignature] AS [S_NES]
WHERE [S_NES].ZZSTATE = 0
GO

-- migração de dados da tabela NotificationMessage (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[NotificationMessage] ([CODMESGS], [CODSIGNA], [CODPMAIL], [FROM], [CODTPNOT], [CODDESTN], [TO], [DESTNMAN], [TOMANUAL], [CC], [BCC], [IDNOTIF], [NOTIFICA], [EMAIL], [ASSUNTO], [AGREGADO], [ANEXO], [HTML], [ATIVO], [DESIGNAC], [MENSAGEM], [GRAVABD], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_NM].[CODMESGS], [S_NM].[CODSIGNA], [S_NM].[CODPMAIL], [S_NM].[FROM], [S_NM].[CODTPNOT], [S_NM].[CODDESTN], [S_NM].[TO], [S_NM].[DESTNMAN], [S_NM].[TOMANUAL], [S_NM].[CC], [S_NM].[BCC], [S_NM].[IDNOTIF], [S_NM].[NOTIFICA], [S_NM].[EMAIL], [S_NM].[ASSUNTO], [S_NM].[AGREGADO], [S_NM].[ANEXO], [S_NM].[HTML], [S_NM].[ATIVO], [S_NM].[DESIGNAC], [S_NM].[MENSAGEM], [S_NM].[GRAVABD], [S_NM].[OPERCRIA], [S_NM].[DATACRIA], [S_NM].[OPERMUDA], [S_NM].[DATAMUDA], [S_NM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[NotificationMessage] AS [S_NM]
WHERE [S_NM].ZZSTATE = 0
GO

-- migração de dados da tabela PRJSKILL (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[PRJSKILL] ([CODSKILL], [SKILL_NAME], [DESCRIPTION], [ZZSTATE])
SELECT [SKILL].[CODSKILL], [SKILL].[SKILL_NAME], [SKILL].[DESCRIPTION], [SKILL].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[PRJSKILL] AS [SKILL]
WHERE [SKILL].ZZSTATE = 0
GO

-- migração de dados da tabela PRJTEAM (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[PRJTEAM] ([CODTEAM], [SKILL_NAME], [DESCRIPTION], [ZZSTATE])
SELECT [TEAM].[CODTEAM], [TEAM].[SKILL_NAME], [TEAM].[DESCRIPTION], [TEAM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[PRJTEAM] AS [TEAM]
WHERE [TEAM].ZZSTATE = 0
GO

-- migração de dados da tabela PRJPLAYER_TEAM (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[PRJPLAYER_TEAM] ([CODPLAYER_TEAM], [PLAYER_FK], [TEAM_FK], [DATE_STARTED], [DATE_ENDED], [ZZSTATE])
SELECT [PLAYER_TEAM].[CODPLAYER_TEAM], [PLAYER_TEAM].[PLAYER_FK], [PLAYER_TEAM].[TEAM_FK], [PLAYER_TEAM].[DATE_STARTED], [PLAYER_TEAM].[DATE_ENDED], [PLAYER_TEAM].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[PRJPLAYER_TEAM] AS [PLAYER_TEAM]
WHERE [PLAYER_TEAM].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcessArgument (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcessArgument] ([CODARGPR], [CODS_APR], [ID], [VALOR], [DOCUMENT], [DOCUMENTFK], [TIPO], [DESIGNAC], [HIDDEN], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_ARG].[CODARGPR], [S_ARG].[CODS_APR], [S_ARG].[ID], [S_ARG].[VALOR], [S_ARG].[DOCUMENT], [S_ARG].[DOCUMENTFK], [S_ARG].[TIPO], [S_ARG].[DESIGNAC], [S_ARG].[HIDDEN], [S_ARG].[OPERCRIA], [S_ARG].[DATACRIA], [S_ARG].[OPERMUDA], [S_ARG].[DATAMUDA], [S_ARG].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcessArgument] AS [S_ARG]
WHERE [S_ARG].ZZSTATE = 0
GO

-- migração de dados da tabela AsyncProcessAttachments (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[AsyncProcessAttachments] ([CODPRANX], [CODS_APR], [DOCUMENT], [DOCUMENTFK], [OPERCRIA], [DATACRIA], [ZZSTATE])
SELECT [S_PAX].[CODPRANX], [S_PAX].[CODS_APR], [S_PAX].[DOCUMENT], [S_PAX].[DOCUMENTFK], [S_PAX].[OPERCRIA], [S_PAX].[DATACRIA], [S_PAX].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[AsyncProcessAttachments] AS [S_PAX]
WHERE [S_PAX].ZZSTATE = 0
GO

-- migração de dados da tabela UserAuthorization (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[UserAuthorization] ([CODUA], [CODPSW], [SISTEMA], [MODULO], [NAODUPLI], [ROLE], [NIVEL], [OPERCRIA], [DATACRIA], [OPERMUDA], [DATAMUDA], [ZZSTATE])
SELECT [S_UA].[CODUA], [S_UA].[CODPSW], [S_UA].[SISTEMA], [S_UA].[MODULO], [S_UA].[NAODUPLI], [S_UA].[ROLE], [S_UA].[NIVEL], [S_UA].[OPERCRIA], [S_UA].[DATACRIA], [S_UA].[OPERMUDA], [S_UA].[DATAMUDA], [S_UA].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[UserAuthorization] AS [S_UA]
WHERE [S_UA].ZZSTATE = 0
GO

-- migração de dados da tabela PRJSKILL_PLAYER (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[PRJSKILL_PLAYER] ([CODSKILL_PLAYER], [PLAYER_FK], [SKILL_FK], [RATING], [ZZSTATE])
SELECT [SKILL_PLAYER].[CODSKILL_PLAYER], [SKILL_PLAYER].[PLAYER_FK], [SKILL_PLAYER].[SKILL_FK], [SKILL_PLAYER].[RATING], [SKILL_PLAYER].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[PRJSKILL_PLAYER] AS [SKILL_PLAYER]
WHERE [SKILL_PLAYER].ZZSTATE = 0
GO

-- migração de dados da tabela PRJSTATS (Modo: 0)
INSERT INTO [W_GnBD].[dbo].[PRJSTATS] ([CODSTATS], [PLAYER_FK], [POINTS], [ASSISTS], [REBOUNDS], [GAMES_PLAYED], [ZZSTATE])
SELECT [STATS].[CODSTATS], [STATS].[PLAYER_FK], [STATS].[POINTS], [STATS].[ASSISTS], [STATS].[REBOUNDS], [STATS].[GAMES_PLAYED], [STATS].[ZZSTATE]
 FROM [W_GnSrcBD].[dbo].[PRJSTATS] AS [STATS]
WHERE [STATS].ZZSTATE = 0
GO

-- Tabelas Hardcoded
-- migração de dados da tabela Codigos Sequenciais
INSERT INTO [W_GnBD].[dbo].[Codigos_Sequenciais] (id_objecto, proximo)
SELECT id_objecto, proximo FROM [W_GnSrcBD].[dbo].[Codigos_Sequenciais]
GO

-- migração de dados da tabela UserAuthorization
INSERT INTO [W_GnBD].[dbo].[UserAuthorization] (CODUA, CODPSW, SISTEMA, MODULO, ROLE, NIVEL, ZZSTATE)
SELECT UA.CODUA, UA.CODPSW, UA.SISTEMA, UA.MODULO, UA.ROLE, UA.NIVEL, UA.ZZSTATE FROM [W_GnSrcBD].[dbo].[UserAuthorization] AS UA
WHERE UA.ZZSTATE = 0
GO

-- migração de dados da tabela CFG (ao criar schema, fica criada uma linha nesta tabela)
--INSERT INTO [W_GnBD].[dbo].[PRJcfg] (codcfg, checkdat, versao, versindx, manutdat, upgrindx, ZZSTATE)
--SELECT codcfg, checkdat, versao, versindx, manutdat, upgrindx, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJcfg]
--WHERE ZZSTATE = 0
--GO

-- migração de dados da tabela LSTUSR
INSERT INTO [W_GnBD].[dbo].[PRJlstusr] (CODLSTUSR, CODPSW, DESCRIC, IDLIST, MODULO, SISTEMA, ORDERCOL, ORDERTYPE, [DATA], ZZSTATE)
SELECT CODLSTUSR, CODPSW, DESCRIC, IDLIST, MODULO, SISTEMA, ORDERCOL, ORDERTYPE, [DATA], ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJlstusr]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela LSTCOL
INSERT INTO [W_GnBD].[dbo].[PRJlstcol] (CODLSTCOL, CODLSTUSR, TABELA, ALIAS, CAMPO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE)
SELECT CODLSTCOL, CODLSTUSR, TABELA, ALIAS, CAMPO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJlstcol]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela LSTREN
INSERT INTO [W_GnBD].[dbo].[PRJlstren] (CODLSTREN, CODLSTUSR, RENDERIZACAO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE)
SELECT CODLSTREN, CODLSTUSR, RENDERIZACAO, VISIVEL, POSICAO, OPERACAO, TIPO, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJlstren]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRWID
INSERT INTO [W_GnBD].[dbo].[PRJusrwid] (CODUSRWID, CODLSTUSR, WIDGET, ROWKEY, VISIBLE, HPOSITION, VPOSITION, ZZSTATE)
SELECT CODUSRWID, CODLSTUSR, WIDGET, ROWKEY, VISIBLE, HPOSITION, VPOSITION, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJusrwid]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRCFG
INSERT INTO [W_GnBD].[dbo].[PRJusrcfg] (codusrcfg, modulo, codpsw, tipo, id, ZZSTATE)
SELECT codusrcfg, modulo, codpsw, tipo, id, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJusrcfg]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela USRSET
INSERT INTO [W_GnBD].[dbo].[PRJusrset] (codusrset, modulo, codpsw, chave, valor, ZZSTATE)
SELECT codusrset, modulo, codpsw, chave, valor, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJusrset]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFACT
INSERT INTO [W_GnBD].[dbo].[PRJwkfact] (codwkfact, wfid, actid, tpactid, descrica, duracao, perfil, perfilu, x, y, ZZSTATE)
SELECT codwkfact, wfid, actid, tpactid, descrica, duracao, perfil, perfilu, x, y, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJwkfact]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFCON
INSERT INTO [W_GnBD].[dbo].[PRJwkfcon] (codwkfcon, wfid, condid, tpcondid, descrica, tiporegr, sinal, x, y, valor, ZZSTATE)
SELECT codwkfcon, wfid, condid, tpcondid, descrica, tiporegr, sinal, x, y, valor, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJwkfcon]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFLIG
INSERT INTO [W_GnBD].[dbo].[PRJwkflig] (codwkflig, wfid, parentid, childid, ptoy, ptox, ptor, tipo, pfromx, pfromy, pfromr, ZZSTATE)
SELECT codwkflig, wfid, parentid, childid, ptoy, ptox, ptor, tipo, pfromx, pfromy, pfromr, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJwkflig]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WKFLOW
INSERT INTO [W_GnBD].[dbo].[PRJwkflow] (codwkflow, descrica, modulo, ZZSTATE)
SELECT codwkflow, descrica, modulo, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJwkflow]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela NOTIFI
INSERT INTO [W_GnBD].[dbo].[PRJnotifi] (codnotifi, modulo, descrica, activid, menuid, usernivl, wfid, ZZSTATE)
SELECT codnotifi, modulo, descrica, activid, menuid, usernivl, wfid, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJnotifi]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela PRMFRM
INSERT INTO [W_GnBD].[dbo].[PRJprmfrm] (codprmfrm, desform, perfil, autoriza, sevalida, prfvalid, prazodia, comprova, prazohor, secompro, mensag1, mensag2, mensag3, mensag4, ZZSTATE)
SELECT codprmfrm, desform, perfil, autoriza, sevalida, prfvalid, prazodia, comprova, prazohor, secompro, mensag1, mensag2, mensag3, mensag4, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJprmfrm]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela SCRCRD
INSERT INTO [W_GnBD].[dbo].[PRJscrcrd] (codscrcrd, descrica, valor, cor, seta, usernivl, ZZSTATE)
SELECT codscrcrd, descrica, valor, cor, seta, usernivl, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJscrcrd]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela DOCUMS
INSERT INTO [W_GnBD].[dbo].[docums] (coddocums, documid, document, docpath, tabela, campo, chave, form, nome, versao, tamanho, extensao, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT coddocums, documid, document, docpath, tabela, campo, chave, form, nome, versao, tamanho, extensao, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[docums]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela POSTIT
INSERT INTO [W_GnBD].[dbo].[PRJpostit] (codpostit, tabela, codtabel, postit, tpostit, datacria, opercria, codpsw, lido, apagado, validade, nivel, codpost1, ZZSTATE)
SELECT codpostit, tabela, codtabel, postit, tpostit, datacria, opercria, codpsw, lido, apagado, validade, nivel, codpost1, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJpostit]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela HASHCD
INSERT INTO [W_GnBD].[dbo].[hashcd] (codhashcd, tabela, campos, datacria, ZZSTATE)
SELECT codhashcd, tabela, campos, datacria, ZZSTATE FROM [W_GnSrcBD].[dbo].[hashcd]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela ALERTA
INSERT INTO [W_GnBD].[dbo].[PRJalerta] (codalerta, codaltent, mensagem, tratado, activo, datacria, datareso, menu, cor, interno, backgrou, sms, email, emailenv, smsenvia, codigo, codigotp, ZZSTATE)
SELECT codalerta, codaltent, mensagem, tratado, activo, datacria, datareso, menu, cor, interno, backgrou, sms, email, emailenv, smsenvia, codigo, codigotp, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJalerta]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela ALTENT
INSERT INTO [W_GnBD].[dbo].[PRJaltent] (codaltent, codtalert, codpsw, grupo, contador, tipo, mensagem, antecede, datainic, datafina, dtmodifi, todos, backgrou, sms, email, codtpgru, codtpess, menu, incluian, activo, individu, ZZSTATE)
SELECT codaltent, codtalert, codpsw, grupo, contador, tipo, mensagem, antecede, datainic, datafina, dtmodifi, todos, backgrou, sms, email, codtpgru, codtpess, menu, incluian, activo, individu, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJaltent]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela TALERT
INSERT INTO [W_GnBD].[dbo].[PRJtalert] (codtalert, nome, metodo, priorida, cor, texto, menu, cmpnome, daltinic, daltfina, incluian, diferenc, anodifer, mesdifer, diadifer, ntabmae, ntabfilh, formid, tabela, campo, tipo, modulo, condicao, ZZSTATE)
SELECT codtalert, nome, metodo, priorida, cor, texto, menu, cmpnome, daltinic, daltfina, incluian, diferenc, anodifer, mesdifer, diadifer, ntabmae, ntabfilh, formid, tabela, campo, tipo, modulo, condicao, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJtalert]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela DELEGA
INSERT INTO [W_GnBD].[dbo].[PRJdelega] (coddelega, codpswup, codpswdw, dateini, dateend, message, revoked, auditusr, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT coddelega, codpswup, codpswdw, dateini, dateend, message, revoked, auditusr, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJdelega]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela TABDINAMIC
INSERT INTO [W_GnBD].[dbo].[PRJTABDINAMIC] (codtabdinamic, NOMETABELA, NOMECAMPO, TIPODADOS, TIPOSQL, LARGURA, ZZSTATE)
SELECT codtabdinamic, NOMETABELA, NOMECAMPO, TIPODADOS, TIPOSQL, LARGURA, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJTABDINAMIC]
WHERE ZZSTATE = 0
GO


-- migração de dados da tabela ALTRAN
INSERT INTO [W_GnBD].[dbo].[PRJaltran] (codaltran, typlabel, referenc, [language], curlabel, labellng, altran, opercria, datacria, opermuda, datamuda, ZZSTATE)
SELECT codaltran, typlabel, referenc, [language], curlabel, labellng, altran, opercria, datacria, opermuda, datamuda, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJaltran]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WORKFLOWTASK
INSERT INTO [W_GnBD].[dbo].[PRJworkflowtask] (codtask, codprcess, taskdefid, taskid, performedby, runningsince, nextrun, modifieddate, modifiedby, skipped, isactive, errorExecute, ZZSTATE)
SELECT codtask, codprcess, taskdefid, taskid, performedby, runningsince, nextrun, modifieddate, modifiedby, skipped, isactive, errorExecute, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJworkflowtask]
WHERE ZZSTATE = 0
GO

-- migração de dados da tabela WORKFLOWPROCESS
INSERT INTO [W_GnBD].[dbo].[PRJworkflowprocess] (codprcess, prcessid, prcessdefid, createdby, status, startdate, modifieddate, modifiedby, codinstance, dotgraph, wferror, ltask, idhk, ZZSTATE)
SELECT codprcess, prcessid, prcessdefid, createdby, status, startdate, modifieddate, modifiedby, codinstance, dotgraph, wferror, ltask, idhk, ZZSTATE FROM [W_GnSrcBD].[dbo].[PRJworkflowprocess]
WHERE ZZSTATE = 0
GO


USE [W_GnBD]
GO
-- Removing invalid FK values
UPDATE [PLAYER_TEAM] SET
[PLAYER_TEAM].[PLAYER_FK] = [q0_PLAYER].[CODPLAYERS]
, [PLAYER_TEAM].[TEAM_FK] = [q1_TEAM].[CODTEAM]
 FROM [W_GnBD].[dbo].[PRJPLAYER_TEAM] AS [PLAYER_TEAM]
LEFT JOIN [PRJPLAYER] AS [q0_PLAYER] ON [PLAYER_TEAM].[PLAYER_FK] = [q0_PLAYER].[CODPLAYERS]
LEFT JOIN [PRJTEAM] AS [q1_TEAM] ON [PLAYER_TEAM].[TEAM_FK] = [q1_TEAM].[CODTEAM]
GO

UPDATE [S_ARG] SET
[S_ARG].[CODS_APR] = [q0_S_APR].[CODASCPR]
 FROM [W_GnBD].[dbo].[AsyncProcessArgument] AS [S_ARG]
LEFT JOIN [AsyncProcess] AS [q0_S_APR] ON [S_ARG].[CODS_APR] = [q0_S_APR].[CODASCPR]
GO

UPDATE [S_PAX] SET
[S_PAX].[CODS_APR] = [q0_S_APR].[CODASCPR]
 FROM [W_GnBD].[dbo].[AsyncProcessAttachments] AS [S_PAX]
LEFT JOIN [AsyncProcess] AS [q0_S_APR] ON [S_PAX].[CODS_APR] = [q0_S_APR].[CODASCPR]
GO

UPDATE [S_UA] SET
[S_UA].[CODPSW] = [q0_PSW].[CODPSW]
 FROM [W_GnBD].[dbo].[UserAuthorization] AS [S_UA]
LEFT JOIN [UserLogin] AS [q0_PSW] ON [S_UA].[CODPSW] = [q0_PSW].[CODPSW]
GO

UPDATE [SKILL_PLAYER] SET
[SKILL_PLAYER].[PLAYER_FK] = [q0_PLAYER].[CODPLAYERS]
, [SKILL_PLAYER].[SKILL_FK] = [q1_SKILL].[CODSKILL]
 FROM [W_GnBD].[dbo].[PRJSKILL_PLAYER] AS [SKILL_PLAYER]
LEFT JOIN [PRJPLAYER] AS [q0_PLAYER] ON [SKILL_PLAYER].[PLAYER_FK] = [q0_PLAYER].[CODPLAYERS]
LEFT JOIN [PRJSKILL] AS [q1_SKILL] ON [SKILL_PLAYER].[SKILL_FK] = [q1_SKILL].[CODSKILL]
GO

UPDATE [STATS] SET
[STATS].[PLAYER_FK] = [q0_PLAYER].[CODPLAYERS]
 FROM [W_GnBD].[dbo].[PRJSTATS] AS [STATS]
LEFT JOIN [PRJPLAYER] AS [q0_PLAYER] ON [STATS].[PLAYER_FK] = [q0_PLAYER].[CODPLAYERS]
GO


USE [W_GnBD]

GO
