USE [W_GnBD]
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[PRJPLAYER_TEAM] WITH NOCHECK ADD CONSTRAINT [FK_PRJPLAYER_TEAM_PLAYER_FK_PRJPLAYER_CODPLAYERS] FOREIGN KEY([PLAYER_FK]) REFERENCES [dbo].[PRJPLAYER] ([CODPLAYERS])
ALTER TABLE [dbo].[PRJPLAYER_TEAM] NOCHECK CONSTRAINT [FK_PRJPLAYER_TEAM_PLAYER_FK_PRJPLAYER_CODPLAYERS]

ALTER TABLE [dbo].[PRJPLAYER_TEAM] WITH NOCHECK ADD CONSTRAINT [FK_PRJPLAYER_TEAM_TEAM_FK_PRJTEAM_CODTEAM] FOREIGN KEY([TEAM_FK]) REFERENCES [dbo].[PRJTEAM] ([CODTEAM])
ALTER TABLE [dbo].[PRJPLAYER_TEAM] NOCHECK CONSTRAINT [FK_PRJPLAYER_TEAM_TEAM_FK_PRJTEAM_CODTEAM]

ALTER TABLE [dbo].[PRJSTATS] WITH NOCHECK ADD CONSTRAINT [FK_PRJSTATS_PLAYER_FK_PRJPLAYER_CODPLAYERS] FOREIGN KEY([PLAYER_FK]) REFERENCES [dbo].[PRJPLAYER] ([CODPLAYERS])
ALTER TABLE [dbo].[PRJSTATS] NOCHECK CONSTRAINT [FK_PRJSTATS_PLAYER_FK_PRJPLAYER_CODPLAYERS]

ALTER TABLE [dbo].[PRJSKILL_PLAYER] WITH NOCHECK ADD CONSTRAINT [FK_PRJSKILL_PLAYER_PLAYER_FK_PRJPLAYER_CODPLAYERS] FOREIGN KEY([PLAYER_FK]) REFERENCES [dbo].[PRJPLAYER] ([CODPLAYERS])
ALTER TABLE [dbo].[PRJSKILL_PLAYER] NOCHECK CONSTRAINT [FK_PRJSKILL_PLAYER_PLAYER_FK_PRJPLAYER_CODPLAYERS]

ALTER TABLE [dbo].[PRJSKILL_PLAYER] WITH NOCHECK ADD CONSTRAINT [FK_PRJSKILL_PLAYER_SKILL_FK_PRJSKILL_CODSKILL] FOREIGN KEY([SKILL_FK]) REFERENCES [dbo].[PRJSKILL] ([CODSKILL])
ALTER TABLE [dbo].[PRJSKILL_PLAYER] NOCHECK CONSTRAINT [FK_PRJSKILL_PLAYER_SKILL_FK_PRJSKILL_CODSKILL]

GO
