USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJPLAYER')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJPLAYER', coalesce(cast((select max(codplayers) from PRJPLAYER) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codplayers) from PRJPLAYER) as bigint) + 1, 1) where id_objecto = 'PRJPLAYER'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJPLAYER_TEAM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJPLAYER_TEAM', coalesce(cast((select max(codplayer_team) from PRJPLAYER_TEAM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codplayer_team) from PRJPLAYER_TEAM) as bigint) + 1, 1) where id_objecto = 'PRJPLAYER_TEAM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1) where id_objecto = 'UserLogin'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1) where id_objecto = 'AsyncProcessAttachments'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJSKILL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJSKILL', coalesce(cast((select max(codskill) from PRJSKILL) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codskill) from PRJSKILL) as bigint) + 1, 1) where id_objecto = 'PRJSKILL'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJSKILL_PLAYER')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJSKILL_PLAYER', coalesce(cast((select max(codskill_player) from PRJSKILL_PLAYER) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codskill_player) from PRJSKILL_PLAYER) as bigint) + 1, 1) where id_objecto = 'PRJSKILL_PLAYER'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJSTATS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJSTATS', coalesce(cast((select max(codstats) from PRJSTATS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codstats) from PRJSTATS) as bigint) + 1, 1) where id_objecto = 'PRJSTATS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJTEAM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJTEAM', coalesce(cast((select max(codteam) from PRJTEAM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codteam) from PRJTEAM) as bigint) + 1, 1) where id_objecto = 'PRJTEAM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJMEM', coalesce(cast((select max(CODMEM) from PRJMEM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODMEM) from PRJMEM) as bigint) + 1, 1) where id_objecto = 'PRJMEM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJCFG', coalesce(cast((select max(CODCFG) from PRJCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODCFG) from PRJCFG) as bigint) + 1, 1) where id_objecto = 'PRJCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJUSRSET', coalesce(cast((select max(CODUSRSET) from PRJUSRSET) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRSET) from PRJUSRSET) as bigint) + 1, 1) where id_objecto = 'PRJUSRSET'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJUSRCFG', coalesce(cast((select max(CODUSRCFG) from PRJUSRCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRCFG) from PRJUSRCFG) as bigint) + 1, 1) where id_objecto = 'PRJUSRCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJWKFACT', coalesce(cast((select max(CODWKFACT) from PRJWKFACT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFACT) from PRJWKFACT) as bigint) + 1, 1) where id_objecto = 'PRJWKFACT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJWKFCON', coalesce(cast((select max(CODWKFCON) from PRJWKFCON) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFCON) from PRJWKFCON) as bigint) + 1, 1) where id_objecto = 'PRJWKFCON'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJWKFLIG', coalesce(cast((select max(CODWKFLIG) from PRJWKFLIG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLIG) from PRJWKFLIG) as bigint) + 1, 1) where id_objecto = 'PRJWKFLIG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJWKFLOW', coalesce(cast((select max(CODWKFLOW) from PRJWKFLOW) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLOW) from PRJWKFLOW) as bigint) + 1, 1) where id_objecto = 'PRJWKFLOW'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJNOTIFI', coalesce(cast((select max(CODNOTIFI) from PRJNOTIFI) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODNOTIFI) from PRJNOTIFI) as bigint) + 1, 1) where id_objecto = 'PRJNOTIFI'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJSCRCRD', coalesce(cast((select max(CODSCRCRD) from PRJSCRCRD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODSCRCRD) from PRJSCRCRD) as bigint) + 1, 1) where id_objecto = 'PRJSCRCRD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJPOSTIT', coalesce(cast((select max(CODPOSTIT) from PRJPOSTIT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPOSTIT) from PRJPOSTIT) as bigint) + 1, 1) where id_objecto = 'PRJPOSTIT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJPRMFRM', coalesce(cast((select max(CODPRMFRM) from PRJPRMFRM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRMFRM) from PRJPRMFRM) as bigint) + 1, 1) where id_objecto = 'PRJPRMFRM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJALERTA', coalesce(cast((select max(CODALERTA) from PRJALERTA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALERTA) from PRJALERTA) as bigint) + 1, 1) where id_objecto = 'PRJALERTA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJALTENT', coalesce(cast((select max(CODALTENT) from PRJALTENT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALTENT) from PRJALTENT) as bigint) + 1, 1) where id_objecto = 'PRJALTENT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJTALERT', coalesce(cast((select max(CODTALERT) from PRJTALERT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTALERT) from PRJTALERT) as bigint) + 1, 1) where id_objecto = 'PRJTALERT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJDELEGA', coalesce(cast((select max(CODDELEGA) from PRJDELEGA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODDELEGA) from PRJDELEGA) as bigint) + 1, 1) where id_objecto = 'PRJDELEGA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJLSTUSR', coalesce(cast((select max(CODLSTUSR) from PRJLSTUSR) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTUSR) from PRJLSTUSR) as bigint) + 1, 1) where id_objecto = 'PRJLSTUSR'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJLSTCOL', coalesce(cast((select max(CODLSTCOL) from PRJLSTCOL) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTCOL) from PRJLSTCOL) as bigint) + 1, 1) where id_objecto = 'PRJLSTCOL'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJLSTREN', coalesce(cast((select max(CODLSTREN) from PRJLSTREN) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTREN) from PRJLSTREN) as bigint) + 1, 1) where id_objecto = 'PRJLSTREN'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJUSRWID', coalesce(cast((select max(CODUSRWID) from PRJUSRWID) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRWID) from PRJUSRWID) as bigint) + 1, 1) where id_objecto = 'PRJUSRWID'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJTBLCFG', coalesce(cast((select max(CODTBLCFG) from PRJTBLCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTBLCFG) from PRJTBLCFG) as bigint) + 1, 1) where id_objecto = 'PRJTBLCFG'

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1) where id_objecto = 'HASHCD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1) where id_objecto = 'DOCUMS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from PRJWORKFLOWPROCESS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRCESS) from PRJWORKFLOWPROCESS) as bigint) + 1, 1) where id_objecto = 'PRJWORKFLOWPROCESS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'PRJWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('PRJWORKFLOWTASK', coalesce(cast((select max(CODTASK) from PRJWORKFLOWTASK) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTASK) from PRJWORKFLOWTASK) as bigint) + 1, 1) where id_objecto = 'PRJWORKFLOWTASK'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1) where id_objecto = 'ReportList'
GO
 