IF((SELECT COUNT(1) FROM PRJcfg) = 0)
	INSERT INTO PRJcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2504, 0, NULL, 0, 0)
ELSE
  UPDATE PRJcfg set versao = 2504, upgrindx = 0;
GO
